.keepalive-fade-slide.active {
  animation:
    fade-in 0.3s ease-in-out,
    slide-in 0.3s ease-in-out;
}

.keepalive-fade-slide.inactive {
  animation:
    fade-out 0.3s ease-in-out,
    slide-out 0.3s ease-in-out;
}
