@layer theme, base, antd, components, utilities;

@import 'tailwindcss/theme.css' layer(theme);

@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
  --animate-logo-spin: logo-spin infinite 20s linear;

  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
