name: Deploy to Production

on:
  push:
    branches: [main]
    paths:
      - 'src/**'
      - 'pnpm-lock.yaml'
      - 'package.json'
      - '.github/workflows/**'

permissions:
  contents: write

jobs:
  CI:
    uses: './.github/workflows/ci.yml'

  build:
    runs-on: ubuntu-latest
    needs: CI
    steps:
      - uses: actions/checkout@v6
      - name: setup environment
        uses: tzuyi0817/coding-standards/.github/actions/setup-environment@main

      - name: build production
        run: pnpm build

      - name: upload production-ready build files
        uses: actions/upload-artifact@v6
        with:
          name: production-files
          path: ./dist

  deploy:
    needs: build
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps:
      - name: download artifact
        uses: actions/download-artifact@v7
        with:
          name: production-files
          path: ./dist

      - name: deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
